pkgbase = kubo-s3-git
	pkgdesc = IPFS Kubo with S3 Datastore Implementation
	pkgver = 0.26.0.r0.g096f510
	pkgrel = 1
	url = https://github.com/chixodo-xyz/kubo-s3
	install = prod.install
	arch = x86_64
	license = GPL3
	makedepends = go
	makedepends = git
	makedepends = gawk
	makedepends = sed
	makedepends = which
	depends = glibc
	provides = kubo-s3
	provides = ipfs
	conflicts = kubo-s3
	conflicts = kubo
	conflicts = ipfs
	source = git+https://github.com/ipfs/kubo
	source = git+https://github.com/ipfs/go-ds-s3
	source = versions.txt
	source = ipfs.service
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 4b59c2e61e794a9c0a9ae63b1523a0f11327a38ea34e7a2a27c9a4a5139084fdf52ab930f257b2ee683fb514f9b8cbf9e897ee76a5075ff854a914279df099bd
	b2sums = e7df78fa46537d2f54a83c8e65ca2aeb30c4b88b4ab52a4da241e22504e80d724ed2eb2a46620616a0a486575a0aeb1d49d016dc4293e1276d61b7d3f7ee2d2e

pkgname = kubo-s3-git
